@{
    ViewBag.Title = "Панель адміністрування";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 align="center">Aдміністрування</h3>
<h4>Управління</h4>
<ul class="rectangle">
    <li><a href="/TypesNTCequipment/Index">Типи обладнання та запчастин</a></li>
    <li><a href="/NTCequipmentProviders/Index">Постачальники</a></li>
    <li><a href="/NTCequipmentInStock/Index">Обладнання та запчастини</a></li>
    <li><a href="/TypesNTCServices/Index">Типи послуг</a></li>
    <li><a href="/NTCServices/Index">Послуги</a></li>
    <li><a href="/NTCClients/Index">Клієнти</a></li>
    <li><a href="/NTCWorkers/Index">Працівники</a></li>
    <li><a href="/NTCJournal/Index">Журнал</a></li>
    <li><a href="/Applications/Index">Заявки</a></li>
    <li><a href="/Options/Index">Додаткові опції</a></li>
    <li><a href="/Reporting/Index">Звітність</a></li>
</ul>