@{
    ViewBag.Title = "Резервне копіювання виконано";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4>Резервне копіювання бази даних було виконано успішно.</h4>
@Html.ActionLink("Назад", "Index")

