@{
    ViewBag.Title = "NTC";
}

<img src="~/img/logo.png" />
<h3>Звязок:</h3>
<h4>udm@ntc.zt.ua</h4>
<h4>+38 (0412) 42-56-36</h4>
<h4>+38 (093) 308-98-24</h4>
<h4>вулиця Перемоги, 41, м. Житомир, 10002</h4>
<!--<h4>Детальніше про нас можете дізнатись на<a href="https://ntc.zt.ua/"> офіційному сайті</a></h4>-->