@{
    ViewBag.Title = "Компанія NTC";
}
<h3>Компанія NTC</h3>
<img src="~/img/logo.png" />
<br />
<p>
    Ми надаємо послуги по регулярному техогляду.<br />
    Є послуга зі встановлення складного устаткування (відеокамер, кондиціонерів).<br />
    Проводимо повне обслуговування будь-яких комп'ютерних, електронних систем і оргтехніки. <br />
    У Вас завжди буде надійний партнер, який зможе усунути будь-яку несправність. Тільки якісне обслуговування.<br />
    Це стосується комплектуючих, витратних матеріалів, а також сервісу. Ми працюємо вже 12 років,
    тому можете довіритися нам як професіоналам. <br />
    Більше ніколи не буде простоїв в роботі з причини несправності обладнання. <br />
    У нас відкрита система вартості послуг. Ціну за обслуговування відображено у прас-листі за кожну операцію окремо. <br />
    Перед ремонтом проводиться ретельна діагностика, всі подальші дії залежать від неї. <br />
    Відповідно, вартість ремонту озвучується після діагностики. Вся техніка має гарантійний термін. <br />
    При виникненні проблем раніше закінчення гарантійного терміну, проводиться безкоштовне техобслуговування або <br />
    заміна оргтехніки. Всі запчастини і матеріали мають ліцензію, гарантійні терміни роботи. <br />
    Заміна проводиться тільки на якісні елементи від відповідного виробника. <br />

</p>


