
@{
    ViewBag.Title = "Заявка відправлена";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<br />
<h4>Дякуємо, заявка була відправлена. Ми зв'яжемося з Вами найближчим часом.</h4>
@Html.ActionLink("На головну", "Index", "Home")

